# Default owner
* @Siksss @Tipexe667

# Platform configuration
/.github/ @Siksss @Tipexe667

# Application code
/src/ @Siksss @Tipexe667

# Tests
/test/ @Siksss @Tipexe667

# Deployment configuration
/deploy/ @Siksss @Tipexe667
